<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Scidekick's got your back!</h2>
                <hr class="light">
                <p class="text-faded">Scidekick offers data analysis and consulting services suited to your needs. Scidekick can assist you in choosing the right data analaysis approach and help you perfrom the analysis for any type of data.</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
